html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

body {
    background: #e1e3f1;
}

p,
span,
li,
div {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

#title {
    background-color: #081C63;
    padding-bottom: 90px;
    margin-bottom: -80px;
    box-shadow: 0px -7px 10px 10px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: 0px -7px 10px 10px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: 0px -7px 10px 10px rgba(78, 78, 78, 0.7);
}

#tagline {
    white-space: nowrap;
    font-size: 1.25em;
}

#content {
    margin-bottom: 75px;
}

#wrap {
    margin-top: 50px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

#canvas,
#arrow,
#handle,
#arrow-face,
#click-face,
#plate {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.choice {
    font-size: 15pt;
    margin: 5px 10px;
    color: black;
    background-color: white;
}

#badge {
    background-color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 5;
}

.scrollbar {
    overflow-y: auto;
    max-height: 80vh;
    margin-bottom: .25em;
}

#sb_style::-webkit-scrollbar {
    width: 1em;
    margin-left: .5em;
}

#sb_style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.modal-open {
    overflow: auto;
    padding: 0 !important;
}

.modal-content {
    margin-top: 15vh;
}

.square {
    width: 50%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#animalpic {
    border: #FFF thick solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 auto 30px auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
}

.modal-body {
    font-size: 1.5em;
}

.modal-header,
.modal-body {
    text-align: center;
}

.list-group-item {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    background-color: black;
}

.delete {
    position: absolute;
    font-size: 1.25em;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    z-index: 4;
    background-color: #FEEA3A;
    padding: 23px 0;
    margin-top: -30px;
    visibility: hidden;
    border: thick solid #FEEA3A;
}

.list-group-item:hover>.delete {
    visibility: visible;
}

#header {
    display: block;
    color: #202020;
    margin: 0 auto .75em auto;
    text-align: center;
}

#el-list {
    margin: 0 .5em;
    overflow-x: hidden;
}

#el {
    margin: .5em 0;
}

#el-head {
    overflow: auto;
    padding: .75em 0;
    border-bottom: thin #BCBCBC inset;
}

#el-head h3 {
    margin-top: 0;
}

#list {
    background: #FEFEFE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    padding-bottom: 5px;
}

#list h3 {
    text-align: center;
}

input[type=text] {
    box-shadow: inset 0px 0px 6px 0px rgba(78, 78, 78, 0.7) -webkit-box-shadow: inset 0px 0px 6px 0px rgba(78, 78, 78, 0.7) -moz-box-shadow: inset 0px 0px 6px 0px rgba(78, 78, 78, 0.7);
}

.list-container {
    background-color: #f7f8fe;
    padding: .15em 1.5em .15em 1em;
    box-shadow: inset 0px 0px 6px 0px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(78, 78, 78, 0.7);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#nameplate {
    padding: 3vh 0;
    margin-top: 1vh;
    color: #FFF;
}

#workspace {
    display: flex;
}

#Spinner {
    background-color: #FEFEFE;
    margin-left: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
}

#info {
    text-align: center;
    background-color: #FEFEFE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 10px;
    margin-left: 4px;
    box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: 3px 3px 10px 0px rgba(78, 78, 78, 0.7);
    padding-bottom: 20px;
}

#info a {
    font-size: 1.5em;
}

#info p {
    margin-bottom: 20px;
}

.btn-focus {
    color: black;
    background-color: #feda3a;
}

.btn-focus:hover {
    background-color: #fed007;
    color: #e8e8e8;
}

.btn-focus:hover>a {
    background-color: #fed007;
    color: #e8e8e8;
}

.footer {
    position: absolute;
    color: #e6e6e6;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #081C63;
    padding: 20px;
    box-shadow: 0px 10px 10px 10px rgba(78, 78, 78, 0.7);
    -webkit-box-shadow: 0px 10px 10px 10px rgba(78, 78, 78, 0.7);
    -moz-box-shadow: 0px 10px 10px 10px rgba(78, 78, 78, 0.7);
}

.footer a,
.footer a:visited {
    color: #e6e6e6;
    text-decoration: none;
}

.footer a:hover {
    color: #89dedf;
    text-decoration: none;
}

#homelink {
    text-align: right;
}

@media only screen and (max-width: 480px) {
    #el-head {
        overflow: visible;
        padding: .75em 0;
    }
}

@media only screen and (max-width: 992px) {
    #title {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #wrap {
        margin-top: 15px;
    }
    #nameplate {
        border: none;
        padding: 0;
        margin-top: 0;
    }
    #el {
        border: none;
        margin: 2.5em 0 0 0;
    }
    #el-head {
        border: none;
        padding: .75em 0;
        width: 90%;
        padding-left: 10%;
    }
    #el-list {
        width: 90%;
        padding-left: 10%;
    }
    #workspace {
        display: block;
        margin-bottom: 5px;
    }
    #list {
        width: 100%;
    }
    #Spinner {
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    #info {
        margin-left: 0;
        margin-bottom: 50px;
    }
    #cright,
    #homelink {
        text-align: center;
    }
}
