html {
    overflow-x: hidden;
}

body {
    min-height:100vh;
    background: #FECBBB;
}
#title{
    background-color:#FE5621;
    padding-bottom: 90px;
    margin-bottom: -80px;
}

#wrap {
    margin-top: 50px;
    position: relative;
    height: 100%;
    overflow: hidden;
    /*background-color: red*/
}

#canvas,
#arrow,
#handle,
#arrow-face,
#click-face,
#plate {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.choice {
    font-size: 15pt;
    margin: 5px 10px;
    color: black;
    background-color: white;
}

#badge {
    background-color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 5;
}

.scrollbar {
    overflow-y: auto;
    max-height: 80vh;
    margin-bottom: .25em;
}

#sb_style::-webkit-scrollbar {
    width: 1em;
    margin-left: .5em;
}

#sb_style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    margin-left: .5em;
    border-radius: 10px;
}

#sb_style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.modal-content {
    margin-top: 30vh;
}

.list-group-item {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    background-color: black;
}

.delete {
    z-index: 4;
    /*display: none;*/
}

.delete {
    position: absolute;
    left:50%;
    width:1000px;
    margin-left: -500px;
    background-color: #dedede;
    padding: 30px 0;
    margin-top: -30px;
    visibility: hidden;
}

.list-group-item:hover > .delete{
    background-color: #FFF;
    visibility: visible;
}

#header{
    display: block;
    color:#202020;
    margin:0 auto .75em auto;
    
    text-align: center;
}

#el-list{
    margin: 0 .5em;
    overflow-x: hidden;
}

#el{
    margin: .5em 0;
}

#el-head{
    overflow: auto;
    padding:.75em 0;
    border-bottom: thin #BCBCBC inset;
    
}
#el-head h3{
    margin-top: 0;   
}
#list{
    background:#FEFEFE;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 0px rgba(78,78,78, 0.7);
}
#list h3{
    text-align: center;    
}

.list-container{
    padding: 0 1.5em .15em 1em;
}

#nameplate{
    padding: 3vh 0;
    margin-top: 1vh;
}

#workspace{
    display: flex;
}

#Spinner{
    background-color: #FEFEFE;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 0px rgba(78,78,78, 0.7);
}

.btn-focus{
    background-color: #FEEA3A;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E54918;
    padding: 20px;
    font-size: 1.25em;
}
@media only screen and (max-width : 992px) {

#nameplate{
    border: none;
    padding:0;
    margin-top:0;
}

#el{
    border: none;
    margin: .5em 0;
}
#el-head{
    overflow: auto;
    border: none;  
    padding:.75em 0;
    width: 90%;
    padding-left: 10%;
    
}

#el-list{
    width: 90%;
    padding-left: 10%;
}
#workspace{
    display: inline;
}
#list{
    width: 100vw;
    position: absolute;
    left:0;
}
}
